/* A calming color scheme featuring a muted teal and the original rosy red. */
body {
  background-color: #f4f1de; /* Cream */
  color: #363636; /* Dark Grey for text */
}

.btn-primary,
.btn-secondary {
  color: #fff;
}

.btn-primary {
  background-color: #468189; /* Muted Teal */
  border-color: #468189;
}

.btn-primary:hover {
  background-color: #3a6a72;
  border-color: #356066;
}

.btn-secondary {
  background-color: #b23a48; /* Dark, desaturated red */
  border-color: #b23a48;
}

.btn-secondary:hover {
  background-color: #9b323f;
  border-color: #902f3a;
}

/* Custom styles for a pleasing effect */
.link-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.link-card:hover {
    transform: scale(1.03);
    box-shadow: 0 .5rem 1rem rgba(70, 129, 137, .15) !important;
}
