:root {
  /* A calming color scheme featuring a muted teal and the original rosy red. */
  --bs-primary: #468189; /* Muted Teal */
  --bs-primary-rgb: 70, 129, 137;
  --bs-secondary: #b23a48; /* Dark, desaturated red */
  --bs-secondary-rgb: 178, 58, 72;
  --bs-body-bg: #f4f1de; /* Cream */
  --bs-body-color: #363636; /* Dark Grey for text */
}

/* Custom styles for a pleasing effect */
.link-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.link-card:hover {
    transform: scale(1.03);
    box-shadow: 0 .5rem 1rem rgba(var(--bs-primary-rgb), .15) !important;
}
